@model IEnumerable<AdditionalMealViewModel>

@{
    ViewData["Title"] = "Administration";
}

    <div class="card mt-4">
        <div class="card-header">
            <partial name="_AdminTabs" />
        </div>

        <div class="card-body">
            <div class="tab-content mt-3 mx-md-5">
                <div class="tab-pane active" id="Meal" role="tabpanel" aria-labelledby="meal-tab">
                    @if (!Model.Any())
                    {
                        <a class="float-right " asp-controller="Meal" asp-action="CreateAdditionalMeal" asp-route-mealPlanId="@ViewData["MealPlan"]">
                            <i class="fas fa-plus-square fa-2x text-success"></i>
                        </a>
                        <h5>No additional meals to display</h5>
                        <p>Use this section to add or remove additional meals for a specific day</p>

                    }
                    else
                    {
                        <a class="d-block text-right pb-1 pr-3" asp-controller="Meal" asp-action="CreateAdditionalMeal" asp-route-mealPlanId="@ViewData["MealPlan"]">
                            <i class="fas fa-plus-square fa-2x text-success"></i>
                        </a>
                        <div class="table-responsive">
                            <table class="table table-sm table-striped">
                                <tbody>
                                    @foreach (var meal in Model)
                                    {
                                        <tr>
                                            <td>
                                                @meal.Date.ToString("ddd d MMM yyyy") 
                                                @if (meal.Items.Any())
                                                {
                                                <small>
                                                    @foreach (var item in meal.Items) 
                                                    { 
                                                        <span class="badge badge-info">@item</span> 
                                                    }
                                                </small>
                                                }
                                            </td>
                                            <td align="right" nowrap>
                                                <a asp-controller="Meal" asp-action="DeleteAdditionalMeal" asp-route-mealId="@meal.MealId">
                                                    <i class="fas fa-minus-square fa-2x text-danger mr-2"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>